Package: mild
Version: 0.1
Priority: optional
Architecture: amd64
Essential: no
Depends:
Pre-depends:
Suggests:
Installed-Size: 
Maintainer: Pedro Rosendo
Conflicts:
Replaces:
Provides:
Description: MILD is a simple and straightforward text-mode installer that aims to install a "D.E."(Desktop Environment) with only the apps really necessary for each graphical environment.
